<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>File Upload Status</title>
</head>
<body>
<div class="container py-5">
    <div class="row">
        <div class="col-10 mx-auto">
            <h1>File Upload Status</h1>
            <!--display error if any-->
            <div class="alert alert-danger" role="alert" th:if="${!status}">
                <strong>Error:</strong>
                <span th:text="${message}"></span>
            </div>

            <!--display students list-->
            <table class="table table-striped" th:if="${status}">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Class</th>
                    <th scope="col">Section</th>
                    <th scope="col">DOB</th>
                    <th scope="col">DOJ</th>
                    <th scope="col">Blood Group</th>
                    <th scope="col">Gender</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="student, i : ${students}">
                    <th scope="row" th:text="${i.index + 1}"></th>
                    <td th:text="${student.studentId}"></td>
                    <td th:text="${student.studentName}"></td>
                    <td th:text="${student.studentClass}"></td>
                    <td th:text="${student.studentSection}"></td>
                    <td th:text="${student.dateOfBirth}"></td>
                    <td th:text="${student.dateOfJoining}"></td>
                    <td th:text="${student.bloodGroup}"></td>
                    <td th:text="${student.gender}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>